<mat-drawer-container class="main-container">
    <!-- sidebar content -->
    <mat-drawer #drawer mode="side" opened disableClose class="mat-drawer">
        @defer {
            <app-sidebar [channels]="channels$ | async" />
        } @loading {
            <p>Loading...</p>
        } @placeholder {
            <p>Loading...</p>
        }
    </mat-drawer>
    <mat-drawer-content class="drawer-content">
        <ng-container *ngIf="activeChannel$ | async as activeChannel">
            <!-- toolbar with drawer icon -->
            <app-toolbar
                (toggleLeftDrawerClicked)="drawer.toggle()"
                (toggleRightDrawerClicked)="drawerRight.toggle()"
                (multiEpgClicked)="openMultiEpgView()"
                (toggleNativeControls)="nativeControls = !nativeControls"
                [activeChannel]="activeChannel"
                [runtimeMeta]="runtimeMeta"
                [timeshiftEnabled]="timeshiftEnabled"
                [timeshiftMaxSec]="timeshiftMaxSec"
                [timeshiftOffsetSec]="timeshiftOffsetSec"
                [timeshiftStepSec]="timeshiftStepSec"
                [nativeControls]="nativeControls"
                (timeshiftPreview)="onTimeshiftPreview($event)"
                (timeshiftCommit)="onTimeshiftCommit($event)"
            />


            <app-audio-player
                *ngIf="activeChannel.radio === 'true'; else videoPlayer"
                [url]="activeChannel.url"
                [icon]="activeChannel?.tvg?.logo"
            />
            <ng-template #videoPlayer>
                <div class="player-surface"
                     [class.player-html5]="chosenPlayer === 'html5'"
                     [class.player-mpegts]="chosenPlayer === 'mpegts'"
                     [class.player-videojs]="chosenPlayer === 'videojs'"
                     (mousemove)="onUiMouseMove()"
                     (mouseleave)="onUiMouseLeave()">
                <app-vjs-player
                    *ngIf="chosenPlayer === 'videojs'"
                    [options]="{ sources: [{ src: (activePlaybackUrl || getActiveSrc(activeChannel, 0)), type: 'application/x-mpegURL' }] }"
                    (mediaInfo)="onMediaInfo($event)"
                    [class.hide-captions]="!playerSettings.showCaptions"
                ></app-vjs-player>

                <app-html-video-player
                    *ngIf="chosenPlayer === 'html5'"
                    [channel]="activeChannel"
                    [playbackUrl]="activePlaybackUrl"
                    [nativeControls]="nativeControls"
                    [showCaptions]="playerSettings.showCaptions"
                    [tuning]="playerSettings.playbackProfile || 'balanced'"
                    (mediaInfo)="onMediaInfo($event)"
                />
                <app-mpegts-player
                    *ngIf="chosenPlayer === 'mpegts'"
                    [channel]="activeChannel"
                    [playbackUrl]="activePlaybackUrl"
                    [tuning]="playerSettings.playbackProfile || 'balanced'"
                    (mediaInfo)="onMediaInfo($event)"
                />
                <div
                    class="custom-player"
                    *ngIf="chosenPlayer === 'mpv'"
                >
                    <img src="./assets/images/custom-player.png" />
                    <p>
                        The channel is played in a separate window in the MPV
                        player. (<a
                            [routerLink]
                            style="cursor: pointer"
                            (click)="
                                openUrl(
                                    'https://github.com/4gray/iptvnator/wiki/What-is-mpv-video-player-and-how-to-install-it-on-different-operating-systems%3F'
                                )
                            "
                            >Installation instructions</a
                        >)
                    </p>
                </div>
                <div
                    class="custom-player"
                    *ngIf="chosenPlayer === 'vlc'"
                >
                    <img src="./assets/images/custom-player.png" />
                    <p>
                        The channel is played in a separate window in VLC
                        player. Please make sure that this player is installed
                        in your system and the correct path is defined in the
                        app settings.
                    </p>
                </div>
                <!-- channel overlay -->
                <app-info-overlay
                    *ngIf="playerSettings.showStreamInfoOverlay !== false"
                    [channel]="activeChannel"
                    [epgProgram]="epgProgram$ | async"
                    [controlsActive]="uiActive"
                    [runtimeMeta]="runtimeMeta"
                    [isTimeshift]="timeshiftEnabled && timeshiftOffsetSec > 0"
                    [timeshiftEnabled]="timeshiftEnabled"
                    [timeshiftMaxSec]="timeshiftMaxSec"
                    [timeshiftOffsetSec]="timeshiftOffsetSec"
                    [timeshiftStepSec]="timeshiftStepSec"
                    [programStartOffsetSec]="programStartOffsetSec"
                    [programNextOffsetSec]="programNextOffsetSec"
                    (timeshiftPreview)="onTimeshiftPreview($event)"
                    (timeshiftCommit)="onTimeshiftCommit($event)"
                ></app-info-overlay>
                </div>
            </ng-template>
        </ng-container>
    </mat-drawer-content>
    <!-- right sidebar content -->
    <mat-drawer position="end" #drawerRight mode="side" disableClose>
        <app-epg-list *ngIf="isElectron"></app-epg-list>
    </mat-drawer>
</mat-drawer-container>
